*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul,li{list-style: none;}
a{text-decoration: none;}
html,body{
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	width: 100%;
}
hr{
	margin-top: 20px;
    margin-bottom: 20px;
	min-width: 100px;
	border: 1px solid #eee;
	display: inline-block;
}
.hd-wrapper,.container,.wk-wrapper,.pg-wrapper,.message{
	width: 960px;
	margin:0 auto;
}
.clearfix:after{
	content:'';
	display: block;
	clear:both;
}
#header{
	height: 100%;
	background: url(http://book.jirengu.com/jirengu-inc/jrg-renwu6/homework/%E9%83%AD%E7%90%AA%E7%90%9B/task14/image/bg.jpg);
	background-size:cover;  
}
.hd-container{
	position: relative;
	width: 960px;
	margin: 0 auto;
	height: 100%;
}
.hd-wrapper{
	position: absolute;
    padding:201px;
	text-align: center; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
	
}
#header h3,#header p{
	margin-bottom: 20px;


}
.btn1{
	display: inline-block;
	width: 140px;
	height: 35px;
	line-height: 35px;
	color:#fff;
	background-color: rgba(0,0,0,0.4);
}
.btn1:hover{
	background-color: rgba(0,0,0,0.6);
}
.intro{
	padding:80px 0;
	text-align: center;
	font-size: 20px;
}
.intro h2{
	margin-bottom: 10px;
}
.skill{
	padding: 50px 0;
	background-color: #337ab7;
	color: #fff;
	text-align: center;
}
.skill h2{
	width: 80px;
	margin:30px auto 5px;
	text-align: center;
	font-size: 25px;
}

.container li{
	float: left;
	padding: 10px;
	width: 25%;
	text-align: center;
}
.container li i{
	 font-size: 100px;
	 text-align: center;
}
.container li p{
	margin-top: 15px;
	margin-bottom: 15px;
}
.btn2 {
  display: inline-block;
  width: 95px;
  height: 30px;
  line-height: 30px;
  color: black;
  background-color: white;
  text-align: center;
}
.btn2:hover {
  background-color: #eee;
}
.main{
	height: 100%;
	padding: 230px 0;
	background: url(http://book.jirengu.com/jirengu-inc/jrg-renwu6/homework/%E9%83%AD%E7%90%AA%E7%90%9B/task14/image/callout.jpg);
	background-size:cover;  
	font-size: 30px;
	text-align: center;
	color:#fff;
}
.works{
	padding:50px 0;
	text-align: center;
}
.wk-wrapper h2{
	font-size: 28px;  
}
.works li{
	float: left;
	width: 465px;
	overflow: hidden;
	margin-left: 30px;
	margin-bottom: 30px;
}
.works ul{
	margin-left: -30px;
}
.paragraph{
	padding:50px 0;
	text-align: center;
	font-size: 15px;
	background-color: #337ab7;
	color:white;
}
.btn3{
	display: inline-block;
	width: 140px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
	margin-top: 20px;
}
.white{
	background-color: #fff;
	color:black;
}
.white:hover{
	background-color: rgba(0,0,0,0.4);
}
.gray{
	background-color: rgba(0,0,0,0.4);
	color:black;
}
.gray:hover{
	background-color: #fff;
}
.personal{
	padding:50px 0;
	text-align: center;
}
.personal h4{
	padding-bottom: 20px;
	font-size: 16px;
}
.infornation{
	padding: 20px;
}
 .icon li{
	display: inline-block;
	margin:15px;
	text-align: center;
}
.icon a i{
	color: #337ab7;
	font-size: 40px;	
}
.icon a i:hover{
	color: green;
}